.txnheading{
    text-align: left;
}
.tableheading{
    background-color: blue;
    color: white
}
.datarow{
    text-align: left
}
.tab{
    float:left;
}
.historyheading{
    top:200px;
    float:left;
}